<%= form_for :post, method: method, url: {controller: 'posts', action: action } do |f| %>
	
	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving </h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li> <%= msg %></li> 
				<% end %> 
			</ul>
		</div>
	<% end %>
<div class="container">
		<div class="field form-group">
			<div class="row">
		    <% f.label  class: 'col-md-4 control-label' %>
		    <div class="col-md-4">
		      <%= f.text_field :post_title, placeholder: "post title", class: 'form-control' %><br>
		    </div>
		    <div class="col-md-4"></div>
	  	</div>
	  </div>
	  <div class="field form-group">
	  	<div class="row">
		    <% f.label class: 'col-md-3 control-label' %>
		    <div class="col-md-6">
		      <%= f.text_area :post_description, :rows =>10, placeholder: "description", class: 'form-control' %><br>
		    </div>
		    <div class="col-md-3"></div>
	  	</div>
	  </div>
	  <div class="row">
		  <div class="actions form-group">
		    <div class="col-sm-11">
		      <%= f.file_field :image %><br>
		    </div>
		  </div>
		  <div class="actions form-group">
		    <div class="col-sm-6">
		      <%= f.submit %>
		    </div>
		  </div>
		</div>
  </div>
<% end %>


	

