<div class="container">
<p><%= @category.category_title %></p>
<%= link_to "New Post", new_category_post_path(@category) %><br>
  <% if user_signed_in? %>
    <% @category.posts.each do |post| %><br>
      <% if current_user == post.user %>
        <a href="<%= category_post_path(@category, post) %>" class="textWithBlurredBg"> 
          <%= image_tag post.image.url %>
          <h2><%= post.post_title%></h2>
        </a>
      <%end%>
    <%end%>
  <%end%>
</div>